/* Reset básico para evitar problemas de estilos por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  background: linear-gradient(135deg, #f0f0f0 25%, #d9d9d9 75%); /* Gradiente diagonal de tonos grises */
}

/* Encabezado y barra de navegación */
.main-header {
  background: #2c3e50; /* Un tono oscuro de azul grisáceo */
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #ffffff;
  font-size: 1.5rem;
}

.contact-button {
  background-color: #e67e22; /* Naranja */
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.contact-button:hover {
  background-color: #d35400; /* Tono naranja más oscuro al pasar el mouse */
}

/* Sección del banner */
.banner {
  background: linear-gradient(rgba(44, 62, 80, 0.7), rgba(44, 62, 80, 0.7)),
      url('https://picsum.photos/1200/500?grayscale');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #ffffff;
  padding: 4rem 2rem;
}

.banner-text h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.banner-text p {
  font-size: 1.2rem;
}

/* Sección de servicios */
.services {
  background: #ffffff;
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}

.services h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.services ul {
  list-style: disc inside none;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.services li {
  margin: 0.5rem 0;
}

/* Pie de página */
.main-footer {
  text-align: center;
  background-color: #2c3e50;
  color: #fff;
  padding: 1rem;
}

.main-footer p {
  margin: 0;
}

/* Modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed; /* Fijo en la pantalla */
  z-index: 1; /* Por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Habilita el scroll si es necesario */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
}

.modal-content {
  background-color: #fff;
  margin: 10% auto; /* Centrado vertical y horizontal */
  padding: 30px;
  border: 1px solid #888;
  width: 60%; /* Ancho del modal */
  max-width: 600px; /* Ancho máximo del modal */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer; /* Cambia el cursor a mano */
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; /* Asegura que el cursor sea una mano al pasar el ratón */
}

.modal-content p {
  font-size: 1.2rem;
  margin: 20px 0;
}